MERGE INTO {{ target_table }} AS target
USING {{ source_table }} AS source
ON
{%- for key in merge_keys %}
    target.{{ key }} = {% if columns_data_types[key] == 'GEOGRAPHY' %}ST_GEOGFROM(source.{{ key }}){% else %}CAST(source.{{ key }} AS {{ columns_data_types[key] }}){% endif %}{% if not loop.last %} AND{% endif %}
{%- endfor %}
    AND target.{{ partition_columns[0] }} = CAST('{{ data_date }}' AS {{ columns_data_types[partition_columns[0]] }})
WHEN MATCHED THEN
    UPDATE SET
{%- for col in update_columns %}
        {{ col }} = {% if columns_data_types[col] == 'GEOGRAPHY' %}ST_GEOGFROM(source.{{ col }}){% else %}CAST(source.{{ col }} AS {{ columns_data_types[col] }}){% endif %}{% if not loop.last %},{% endif %}
{%- endfor %}
WHEN NOT MATCHED THEN
    INSERT (
{%- for col in columns %}
        {{ col }}{% if not loop.last %},{% endif %}
{%- endfor %}
    )
    VALUES (
{%- for col in columns %}
        {% if columns_data_types[col] == 'GEOGRAPHY' %}ST_GEOGFROM(source.{{ col }}){% else %}CAST(source.{{ col }} AS {{ columns_data_types[col] }}){% endif %}{% if not loop.last %},{% endif %}
{%- endfor %}
    )

